<%- include('../includes/head.ejs') %>
    </head>

    <body>
        <%- include('../includes/navigation.ejs') %>
        <main class="centered">
            <h1><%= product.title %></h1>
            <div>
                <img style="width:20rem" src="<%= product.imageUrl %>" alt="<%= product.title %>">
            </div>
            <h2><%= product.price %></h2>
            <p style="width:20rem; text-align: center;"><%= product.description %></p>

            <%- include('../includes/add-to-cart.ejs',{product:product}) %>
            <!-- <form action="/cart" method="post">
                <button class="btn" type="submit">Add to Cart</button>
            </form> -->
        </main>
<%- include('../includes/end.ejs') %>